@import "color.styl"

.avatar
	display inline-block
	width 80px
	height 80px

.nav 
	display inline-block
	line-height 80px

.nav li
	display inline-block
	margin-left 40px

.nav li a
	color soft-grey

.slider
	display block
	width 100%
	height 450px
	background url(../img/hp-slider-hero.jpg) no-repeat
	-webkit-background-size cover
	-moz-background-size cover
	-o-background-size cover
	background-size cover

.main
	background-color bggrey

.about-me
	margin-top 110px
	color grey

.about-me h1
	margin-bottom 40px
	font-size 30px

.about-me p
	font-size 19px
	line-height 150%
	margin-bottom 50px

.works-list li
	display inline-block
	border-right 19px solid bggrey
	margin-bottom 20px

.works-list li:nth-child(2n) 
	margin-left -4px
	border 0

.span1
	height 200px
	margin-bottom 5px

.span1-info
	display inline-block
	vertical-align top
	padding 30px

.span1-title
	margin-top 30px
	font-size 30px
	color grey
	text-decoration underline

.span1-time
	margin-top 10px
	font-size 18px
	color grey
