@import "base.css";
header {
  padding: 20px 30px;
}
.wrap.hp {
  width: 760px;
}
.hp-block {
  padding: 50px 0;
  border-top: 5px solid #fff;
}
.social-slide-list {
  display: block;
  margin: 0 auto;
  width: 816px;
  padding: 100px 0;
}
.social-slide-item {
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  -webkit-transition: 0.2s all ease-out;
  display: inline-block;
  margin: 0 30px;
}
.page-title {
  font-family: "Merriweather";
  font-weight: 200;
  color: #d1d1d1;
  text-align: center;
  margin-top: 300px;
}
.social-icon {
  position: absolute;
  top: 0;
  -webkit-transition: 0.1s all ease-out;
}
.social-slide-item.dribbble:hover {
  background-color: #e54783;
}
.social-slide-item.twitter:hover {
  background-color: #52a2c6;
}
.social-slide-item.rdio:hover {
  background-color: #1689ca;
}
.social-slide-item.insta:hover {
  background-color: #8eb879;
}
.social-slide-item.pinter:hover {
  background-color: #e44;
}
.social-slide-item:hover .social-icon {
  top: -100px;
}
.avatar {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.nav {
  display: inline-block;
  line-height: 80px;
}
.nav li {
  display: inline-block;
  margin-left: 40px;
}
.nav li a {
  color: #9b9b9b;
}
.slider {
  display: block;
  width: 100%;
  height: 450px;
  background: url("../img/hp-slider-hero.jpg") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.main {
  background-color: #f1f1f1;
}
.about-me {
  margin-top: 110px;
  color: #5e5e5d;
}
.about-me h1 {
  margin-bottom: 40px;
  font-size: 30px;
}
.about-me p {
  font-size: 19px;
  line-height: 150%;
  margin-bottom: 50px;
}
.works-list li {
  display: inline-block;
  border-right: 19px solid #f1f1f1;
  margin-bottom: 20px;
}
.works-list li:nth-child(2n) {
  margin-left: -4px;
  border: 0;
}
.span1 {
  height: 200px;
  margin-bottom: 5px;
}
.span1-info {
  display: inline-block;
  vertical-align: top;
  padding: 30px;
}
.span1-title {
  margin-top: 30px;
  font-size: 30px;
  color: #5e5e5d;
  text-decoration: underline;
}
.span1-time {
  margin-top: 10px;
  font-size: 18px;
  color: #5e5e5d;
}
